/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    margin: 0;
    font-family: sans-serif;
    color: #FFF;
    background: #333;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

#cougar{
    background: #FFBD82;
    color: #000;
}

#lion{
    background: #FFD5AE;
    color: #000;
}

#tiger{
  background: #B26219;
  color: #FFF;
}

#tiger .text {
  color: #FFF;
}

section{
    margin: 0;
    margin: 0 1.5rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text{
    margin:0;
    margin:1rem;
    color: #000;
    font-size: 1rem;
    line-height: 1.25rem;
}

h2 {
    margin: 0;
    margin-top: -1rem;

}

article {
    margin: 0;
    padding: 3rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    flex: 0 1 600px;
}

header {
    padding: 1.5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
}

footer {
    padding: 1rem;
}

footer p {
    text-align: center;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #327a89;
}
a:hover {
    color: #82E8FF;
    text-decoration: none;
}

#tiger a {
    color: #FFF;
}
#tiger a:hover {
    color: #FFF;
    text-decoration: none;
}

#lion a {
    color: #666;
}
#lion a:hover {
    color: #666;
    text-decoration: none;
}

#cougar a {
    color: #666;
}
#cougar a:hover {
    color: #666;
    text-decoration: none;
}
header a {
        color: #6ED4EA;
}
header a:hover {
        color: #6ED4EA;
        text-decoration: none;
    }

.text a {
        color: #6ED4EA;
}
.text a:hover {
        color: #6ED4EA;
        text-decoration: none;
    }
